[Unit]
Description=DiscordBot: NoFreeLunch

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStop=/bin/kill -WINCH ${MAINPID}
Restart=always
# CIで置き換えるので、WorkingDirectoryとExecStartは記入不要
