on:
  push:
    branches-ignore: [main]

jobs:
  build_and_publish_images:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      CARGO_INCREMENTAL: 1
      IMAGE: ghcr.io/lucky3028/no-free-lunch
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install git-restore-mtime
        run: sudo apt-get update && sudo apt-get install git-restore-mtime -y
      - name: Restore mtime
        run: git restore-mtime

      - uses: actions/cache@v2
        env:
          cache-version: v1
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo--${{ env.cache-version }}-${{ github.ref }}-${{ hashFiles('**/Cargo.lock') }}

      - name: Build crate
        run: cargo build --release

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: lucky3028
          password: ${{ secrets.GHCR_PAT }}
      - name: Build image
        run: docker build -t $IMAGE:latest --build-arg BUILDKIT_INLINE_CACHE=1 -f Dockerfile2 .
      - name: Push image
        if: github.ref == 'refs/heads/main'
        run: docker push $IMAGE:latest